[submodule "dist/demo"]
	path = dist/demo
	url = https://github.com/zeakd/rothko.js
	branch = gh-pages
[submodule "dist/drawing-kit"]
	path = dist/drawing-kit
	url = https://github.com/zeakd/drawing-kit.js/
	branch = rothko-project
[submodule "dist/histogram-analyze"]
	path = dist/histogram-analyze
	url = https://github.com/zeakd/histogram-analyze.js/
	branch = rothko-project
[submodule "dist/rothko"]
	path = dist/rothko
	url = https://github.com/zeakd/rothko.js/
	branch = master
